<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <link href="../static/css/lib/bootstrap.min.css" th:href="@{css/lib/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/lib/bootstrap-theme.min.css" th:href="@{css/lib/bootstrap-theme.min.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/lib/select2.min.css" th:href="@{css/lib/select2.min.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/lib/mab-jquery-taginput.css" th:href="@{css/lib/mab-jquery-taginput.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/lib/jquery-ui.min.css" th:href="@{css/lib/jquery-ui.min.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/lib/bootstrap-datepicker.css" th:href="@{css/lib/bootstrap-datepicker.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/photohost.css" th:href="@{css/photohost.css}" rel="stylesheet" media="screen"/>
    </div>
</head>
<body>
    <div th:fragment="script">
        <script src="../static/js/lib/jquery-3.2.1.min.js" th:src="@{js/lib/jquery-3.2.1.min.js}"></script>
        <script src="../static/js/lib/bootstrap.min.js" th:src="@{js/lib/bootstrap.min.js}"></script>
        <script src="../static/js/lib/typeahead.bundle.min.js" th:src="@{js/lib/typeahead.bundle.min.js}"></script>
        <script src="../static/js/lib/bootstrap-notify.min.js" th:src="@{js/lib/bootstrap-notify.min.js}"></script>
        <script src="../static/js/common.js" th:src="@{js/common.js}"></script>
    </div>
    <ul sec:authorize="hasRole('USER')" th:fragment="navbar" class="nav navbar-nav">
        <li id="navjournal"><a href="journal">Журнал</a></li>
        <li id="navrecord"><a href="record">Внесение</a></li>
        <li id="navreport"><a href="report">Отчет</a></li>
        <li sec:authorize="hasRole('ADMIN')" id="navinstaload"><a href="instagramloader">Загрузка из Instagram</a></li>
        <li sec:authorize="hasRole('ADMIN')" id="navvkload"><a href="vkload" onclick="show_overlay();">Загрузка из VK</a></li>
        <li sec:authorize="hasRole('ADMIN')" id="navdicts"><a href="dictionaries">Справочники</a></li>
    </ul>
</body>
</html>