.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 100%;
}

.dictSelector {
    width: 200px;
}

.mab-jquery-taginput.tag-input {
    border: 1px solid grey !important;
    border-radius: 3px;
    padding: 10px 10px 6px 10px;
}

.reportTag {
    background-color: #99ccff;
    color:white;
    padding: 5px;
    border-radius: 3px;
}

.reportTagBox {
    margin: 5px 0 0 0;
    border-left: 3px solid black;
    float: left;
    padding: 3px 0 3px 5px;
}

.reportItemDescription {
        margin: 5px 0 0 0;
        padding: 3px 0 3px 0;
}

.reportItemLocation {
    font-size: large;
}

.inError {
    color: red !important;
}

.inptlbl {
    width: 60px;
}

.date {
    width: 150px;
}

.red-label{
    color: red;
}

.post-author{
    font-size: larger;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.post-comment{
    font-family: "Arial";
}

.post-comment-box{
    padding: 7px;
}