.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 100%;
}

.dictSelector {
    width: 200px;
}

.mab-jquery-taginput.tag-input {
    border: 1px solid grey !important;
    border-radius: 3px;
    padding: 10px 10px 6px 10px;
}

.reportTag {
    background-color: #99ccff;
    color:white;
    padding: 5px;
    border-radius: 3px;
}

.reportTagBox {
    margin: 5px 0 0 0;
    border-left: 3px solid black;
    float: left;
    padding: 3px 0 3px 5px;
}

.reportItemDescription {
        margin: 5px 0 0 0;
        padding: 3px 0 3px 0;
}

.reportItemLocation {
    font-size: large;
}

.inError {
    color: red !important;
}

.inptlbl {
    width: 100px;
}

.date {
    width: 150px;
}

.red-label{
    color: red;
}

.post-author{
    font-size: larger;
    font-weight: bold;
}

.post-comment{
    font-family: "Arial";
    margin-top: 5px;
    border-top: 1px solid black;
}

.post-comment-text {
    padding: 10px 0 15px 0;
}

.post-comment-box{
    padding: 7px;
}

.comment-box-selected {
    background-color: #e6e6ff;
    cursor: pointer;
}

.post-edit{
    border: 1px solid #b3b3ff;
    border-radius: 3px;
    margin-bottom: 10px;
}

.post-edit-active{
    border: 3px solid dimgrey;
    margin: 20px 0 20px 0;
    background-color: white;
    cursor: default;
}

.post-editor{
    padding-top: 10px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.modal-dialog { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 500px; height: 300px; }

.graph_container{
  display:block;
  width:300px;
}