<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">
    <title>редактор справочников</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
</head>


<body hidden="true">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Редактор справочников</a>
        </div>
        <div th:replace="fragments/header :: navbar"/>
    </div>
</nav>

<div class="container col-md-8 col-lg-6 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">

    <div class="dict-editor" id="dict-editor">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row well">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="locationSelect" class="inptlbl locationLbl control-label" style="width: 150px">Заменить
                            место</label>
                        <select id="locationSelect" class="js-example-basic-single dictSelector" name="oldPlace">
                            <option selected="true"></option>
                            <option th:each="item : ${locations}" th:text="${item.name}"></option>
                        </select>
                    </div>
                </form>
                <form class="form-inline" style="margin-top: 10px">
                    <div class="form-group">
                        <label for="newLocationSelect" class="inptlbl locationLbl control-label"
                               style="width: 150px">на другое</label>
                        <select id="newLocationSelect" class="js-example-basic-single dictSelector" name="newPlace">
                            <option selected="true"></option>
                            <option th:each="item : ${locations}" th:text="${item.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row well">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="themeSelect" class="inptlbl themeLbl control-label" style="width: 150px">Заменить
                            тему</label>
                        <select id="themeSelect" class="js-example-basic-single dictSelector" name="oldCat">
                            <option selected="true"></option>
                            <option th:each="item : ${themes}" th:text="${item.name}"></option>
                        </select>
                    </div>
                </form>
                <form class="form-inline" style="margin-top: 10px">
                    <div class="form-group">
                        <label for="newThemeSelect" class="inptlbl themeLbl control-label" style="width: 150px">на другую</label>
                        <select id="newThemeSelect" class="js-example-basic-single dictSelector" name="newCat">
                            <option selected="true"></option>
                            <option th:each="item : ${themes}" th:text="${item.name}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">История изменений</div>

                    <table class="table">
                        <tr class="info">
                            <th>ID</th>
                            <th>старое значение</th>
                            <th>новое значение</th>
                            <th>тип справочника</th>
                        </tr>
                        <tr th:each="item : ${transactions}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.prevDictName}"></td>
                            <td th:text="${item.newDictName}"></td>
                            <td th:text="${item.dictClassName}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row form-group" style="padding: 0 15px 0 15px">
        <button id="sendBtn" type="button" class="btn btn-lg btn-success">Сохранить</button>
        <button id="rollbackBtn" type="button" class="btn btn-lg btn-danger">Отменить последнее</button>
    </div>

</div>
</div>

</body>
<div th:replace="fragments/header :: script"/>

<script src="../static/js/select2.min.js" th:src="@{js/select2.min.js}"></script>

<!--custom-->
<script src="../static/js/dictionaries.js" th:src="@{js/dictionaries.js}"></script>
<script src="../static/js/bootstrap-notify.min.js" th:src="@{js/bootstrap-notify.min.js}"></script>
</html>