<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">
    <meta charset="UTF-8"/>
    <title>Загрузчик Instagram</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body hidden="true">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Загрузка из Instagram</a>
        </div>
        <div th:replace="fragments/header :: navbar"/>
    </div>
</nav>

<div class="container col-md-8 col-lg-6 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">
    <div>
        <form id="xls-form" method="post" enctype="multipart/form-data" action="/uploadInstagramXls">
            <div class="row form-group" style="padding: 0 15px 0 15px">
                <label for="post-text">Текст поста</label>
                <textarea class="form-control" name="posttext" rows="5" id="post-text"></textarea>
            </div>

            <div class="custom-file row well">
                <input type="file" name="xls" class="custom-file-input" id="xls-file-input">
            </div>

            <div class="row form-group" style="padding: 15px 0 0 0">
                <button class="btn btn-lg btn-default" id="uploadBtn" type="button">Загрузить</button>
            </div>
        </form>
    </div>
</div>

</body>
<div th:replace="fragments/header :: script"/>

<!--custom-->
<script src="../static/js/instagramloader.js" th:src="@{js/instagramloader.js}"></script>
</html>