<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Загрузчик Instagram</title>
    <div th:replace="fragments/header :: header-css"/>
    <link href="../static/css/summernote.css" th:href="@{css/summernote.css}" rel="stylesheet" media="screen"/>
</head>


<body hidden="true">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Загрузка из Instagram</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="record">Внесение</a></li>
            <li><a href="report">Отчет</a></li>
            <li class="active"><a href="instaload">Загрузка из Instagram</a></li>
        </ul>
    </div>
</nav>

<div class="container col-md-8 col-lg-6 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">
    <div>

        <div class="row">
            <div id="summernote" class="summernote">Скопируйте сюда комментарии</div>
        </div>
        <div class="row form-group" style="padding: 0 15px 0 15px">
            <button id="sendBtn" type="button" class="btn btn-lg btn-default">Сохранить</button>
        </div>

    </div>
</div>

</body>
<div th:replace="fragments/header :: script"/>

<!--components-->
<script src="../static/js/summernote.min.js" th:src="@{js/summernote.min.js}"></script>

<!--custom-->
<script src="../static/js/instaload.js" th:src="@{js/instaload.js}"></script>
</html>