<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="ru">
    <title>журнал постов</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <div th:replace="fragments/header :: header-css"/>
</head>


<body hidden="true">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Журнал постов</a>
        </div>
        <div th:replace="fragments/header :: navbar"/>
    </div>
</nav>

<div class="container col-md-10 col-lg-8 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-2">
    <table class="table table-hover table-bordered">
        <tr class="info">
            <th>Соц.сеть</th>
            <th style="width: 100px">Дата</th>
            <th>Пост</th>
            <th>Осталось</th>
            <th>Обработано</th>
            <th sec:authorize="hasRole('ADMIN')">Дейстия</th>
        </tr>
        <tr class="post-row" th:attr="post-id=${item.post.id}" th:each="item : ${posts}">
            <td th:text="${item.post.socnet}" style="font-weight: bold"></td>
            <td style="width: 100px" th:text="${#dates.format(item.post.date, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${item.post.text}" class="jrnl-post-text"></td>
            <td th:style="${item.unprocessed} > 0 ? 'color: red;' : ''" th:text="${item.unprocessed}"
                class="jrnl-post-unprocessed"></td>
            <td style="color: green;" th:text="${item.processed}" class="jrnl-post-processed"></td>
            <td sec:authorize="hasRole('ADMIN')" style="text-align: center;">
                <button th:if="${item.post.netId != null or item.post.postLink != null}"
                        th:attr="net-id=${item.post.netId}, post-link=${item.post.postLink}, post-id=${item.post.id}"
                        class="btn btn-default btn-sm refresh-button">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button class="btn btn-danger btn-sm delete-button"
                        data-target="#deleteModal"
                        data-toggle="modal"
                        style="margin-top: 10px"
                        th:attr="post-id=${item.post.id}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>

<!-- delete modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="deleteModal" role="dialog"
     sec:authorize="hasRole('ADMIN')" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Удаление поста</h2>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить пост?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Нет, закрыть</button>
                <button class="btn btn-danger" id="confirm-delete" type="button">Да, удалить</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary" type="button">
    Launch demo modal
</button>

</body>
<div th:replace="fragments/header :: script"/>


<!--custom-->
<script src="../static/js/journal.js" th:src="@{js/journal.js}"></script>
</html>