<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">
    <title>внесение</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
</head>


<body hidden="true">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Внесение данных</a>
            </div>
            <div th:replace="fragments/header :: navbar"/>
        </div>
    </nav>

    <div class="container col-md-8 col-lg-6 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">
        <div id="post">
            <div class="row well">
                <div class="post-author" th:text="${post.author.name}"></div>
                <div class="post-comment" th:text="${post.text}"></div>
                <input type="hidden" id="postId" th:value="${post.id}"/>
            </div>

            <div th:replace="fragments/editor :: comment-box"/>


        </div>
        <div th:replace="fragments/editor :: comment-editor"/>
    </div>

</body>
    <div th:replace="fragments/header :: script"/>

    <!--components-->
    <script src="../static/js/select2.min.js" th:src="@{js/select2.min.js}"></script>
    <script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
    <script src="../static/js/mab-jquery-taginput.js" th:src="@{js/mab-jquery-taginput.js}"></script>

    <!--custom-->
    <script src="../static/js/record.js" th:src="@{js/record.js}"></script>
    <script src="../static/js/bootstrap-notify.min.js" th:src="@{js/bootstrap-notify.min.js}"></script>
</html>