
<div class="container col-md-8 col-lg-6 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">
    <div id="post">
        <div class="row post-edit post-edit-comment-box post-comment-box" th:each="item : ${post.comments}">
            <input class="item-id" type="hidden" th:value="${item.id}"/>
            <input class="status" type="hidden" th:value="${item.status}"/>
            <input class="comment-text" type="hidden" value="testval"/>
            <input class="comment-category" type="hidden"/>
            <input class="comment-location" type="hidden"/>
            <input class="comment-tags" type="hidden"/>
            <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 post-author" th:text="'('+${item.id}+') '+${item.author.name}"></div>-->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 post-author" th:text="${item.author.name}"></div>
            <div hidden="true" class="cancel-buttons col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <button type="button" class="no-theme-btn btn btn-xs btn-danger" style="float:right;">Нет темы</button>
                <button type="button" class="no-place-btn btn btn-xs btn-danger" style="float:right;margin-right: 5px;">Нет места</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post-comment">
                <div class="post-comment-text" th:text="${item.text}"></div>
            </div>
        </div>
    </div>
    <div hidden="true" class="post-editor" id="editor">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="form-group" style="padding: 0 15px 0 15px">
                    <label for="locationSelect" class="inptlbl locationLbl control-label">Место</label>
                    <select id="locationSelect" class="js-example-basic-single dictSelector" name="state">
                        <option selected="true"></option>
                        <option th:each="item : ${locations}" th:text="${item.name}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="padding: 0 15px 0 15px">
                    <label for="themeSelect" class="inptlbl locationLbl control-label">Категория</label>
                    <select id="themeSelect" class="js-example-basic-single dictSelector" name="state">
                        <option selected="true"></option>
                        <option th:each="item : ${themes}" th:text="${item.name}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-inline">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="inptlbl tagLbl control-label">Тэги</label>
                <input type="text" class="tag-input" id="tag-input"/>
            </div>
        </div>
        <div class="row form-group" style="padding: 0 15px 0 15px">
            <label for="comment">Описание</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="row form-group" style="padding: 0 15px 0 15px">
            <button id="sendBtn" type="button" class="btn btn-lg btn-success">Сохранить</button>
        </div>
    </div>

    <div th:replace="fragments/header :: script"/>

    <!--components-->
    <script src="../static/js/select2.min.js" th:src="@{js/select2.min.js}"></script>
    <script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
    <script src="../static/js/mab-jquery-taginput.js" th:src="@{js/mab-jquery-taginput.js}"></script>

    <!--custom-->
    <script src="../static/js/record.js" th:src="@{js/record.js}"></script>
    <script src="../static/js/bootstrap-notify.min.js" th:src="@{js/bootstrap-notify.min.js}"></script>
</div>
