<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">
    <title>отчет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body hidden="true">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Отчет</a>
        </div>
        <div th:replace="fragments/header :: navbar"/>
    </div>
</nav>

<div class="container col-md-8 col-lg-6 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">

    <form id="params" action="report" method="GET">
        <div class="row">
            <div class="form-group" style="padding: 0 15px 0 15px">
                <label for="locationSelect" class="inptlbl locationLbl control-label">Место</label>
                <select id="locationSelect" class="js-example-basic-single dictSelector" name="location">
                    <option th:each="item : ${locations}" th:text="${item.name}"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group" style="padding: 0 15px 0 15px">
                <label for="themeSelect" class="inptlbl locationLbl control-label">Категория</label>
                <select id="themeSelect" class="js-example-basic-single dictSelector" name="theme">
                    <option th:each="item : ${themes}" th:text="${item.name}"></option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <div id="startDate" class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" name="startDate" placeholder="дата с"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="endDate" class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" name="endDate" placeholder="дата по" th:value="${endDate}"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 form-group">
                <button type="button"  id="week" class="btn btn-default">неделя</button>
            </div>
            <div class="col-md-2 form-group">
                <button type="button" id="month" class="btn btn-default">месяц</button>
            </div>
            <div class="col-md-2 form-group">
                <button type="button" id="year" class="btn btn-default">год</button>
            </div>
        </div>
        <div class="row form-group">
            <button type="submit" form="params" value="Submit" id="reportBtn" class="btn btn-success">
                Выгрузить отчет</button>
        </div>

    </form>

    <div class="row well" th:each="item : ${report}">
        <div class="reportItemLocation" th:text="${item.location}"></div>
        <div class="reportTagBox">
            <span class="reportTag" th:each="tag : ${item.tags}" th:text="${tag}"></span>
        </div>
        <div class="reportItemDescription" th:text="${item.description}"></div>
    </div>



</div>



</body>
    <div th:replace="fragments/header :: script"/>

    <!--components-->
    <script src="../static/js/select2.min.js" th:src="@{js/select2.min.js}"></script>
    <script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
    <script src="../static/js/mab-jquery-taginput.js" th:src="@{js/mab-jquery-taginput.js}"></script>
    <script src="../static/js/bootstrap-datepicker.js" th:src="@{js/bootstrap-datepicker.js}"></script>

    <!--custom-->
    <script src="../static/js/record.js" th:src="@{js/record.js}"></script>
    <script src="../static/js/report.js" th:src="@{js/report.js}"></script>
</html>