<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div id="post">
        <div th:replace="fragments/editor :: comment-box"/>
    </div>

    <div th:replace="fragments/editor :: comment-editor"/>


    <div th:replace="fragments/header :: script"/>

    <!--components-->
    <script src="../static/js/select2.min.js" th:src="@{js/select2.min.js}"></script>
    <script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
    <script src="../static/js/mab-jquery-taginput.js" th:src="@{js/mab-jquery-taginput.js}"></script>

    <!--custom-->
    <script src="../static/js/record.js" th:src="@{js/record.js}"></script>
</div>
</html>