<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">
    <title>отчет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
    <link href="../static/css/jquery.jqplot.min.css" th:href="@{css/jquery.jqplot.min.css}" rel="stylesheet"
          media="screen"/>


</head>

<body hidden="true">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Отчет</a>
        </div>
        <div th:replace="fragments/header :: navbar"/>
    </div>
</nav>

<div class="container col-md-8 col-lg-6 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-3">

    <form id="params" action="report" method="GET">

        <div class="row form-group">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div id="startDate" class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" name="startDate" th:value="${startDate}"
                           placeholder="дата с"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div id="endDate" class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" name="endDate" placeholder="дата по" th:value="${endDate}"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 form-group">
                <button type="submit" form="params" value="Submit" id="reportBtn" class="btn btn-success">
                    Выгрузить отчет
                </button>
            </div>

        </div>

    </form>

    <canvas id="chart" width="400" th:height="300"></canvas>

    <div class="row well">
        <ul>
            <li th:text="'всего комментариев: ' + ${countTotal} + ' (Инстаграм: ' + ${countTotalInstagram} + ', Вконтакте: ' + ${countTotalVk} + ')'"></li>
            <li th:text="'комментариев от ведомств: ' + ${countVedomstva}"></li>
            <li th:text="'уникальных пользователей: ' + ${countDistinctUsers}"></li>
        </ul>
    </div>
    <div class="row" id="reportedit"></div>

    <div class="row reportrow" style="margin-top: 10px" th:each="item : ${report}">
        <div class="reportTheme"
             th:text="${item.location} + ', ' + ${item.cnt} + ' жалоб ('  + ${item.vkCnt} + ' Вконтакте,' + ${item.instagramCnt} + ' Инстаграм)'"></div>
        <input type="hidden" class="reportThemeShort" th:value="${item.location}"/>
        <input type="hidden" class="instagramcnt" th:value="${item.instagramCnt}"/>
        <input type="hidden" class="vkcnt" th:value="${item.vkCnt}"/>
        <div class="reportComplain" th:each="complain : ${item.elements}">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span style="font-weight: bolder;" class="location-name"
                  th:text="${complain.location}"></span>
            <span class="location-name"
                  th:text="'(жалоб:' + ${complain.count} + ', пользователей:' + ${complain.userCount} + ')'"></span>
            <div style="margin-left:20px" class="com-address" th:text="${complain.additionalText}"></div>
            <input type="hidden" class="com-location" th:value="${complain.location}"/>
            <p>
            <ul>
                <li th:if="${complain.description!=null and #strings.length(complain.description)>0}">
                    <span style="font-weight: bolder;">Проблема: </span>
                    <span class="com-description" th:text="${complain.description}"></span>
                </li>
            </ul>
            </p>
        </div>
    </div>

</div>

</body>
<div th:replace="fragments/header :: script"/>

<!--components-->
<script src="../static/js/select2.min.js" th:src="@{js/select2.min.js}"></script>
<script src="../static/js/jquery-ui.min.js" th:src="@{js/jquery-ui.min.js}"></script>
<script src="../static/js/mab-jquery-taginput.js" th:src="@{js/mab-jquery-taginput.js}"></script>
<script src="../static/js/bootstrap-datepicker.js" th:src="@{js/bootstrap-datepicker.js}"></script>
<script src="../static/js/jquery.jqplot.min.js" th:src="@{js/jquery.jqplot.min.js}"></script>

<!--custom-->
<script src="../static/js/report.js" th:src="@{js/report.js}"></script>
<script src="../static/js/Chart.bundle.min.js" th:src="@{js/Chart.bundle.min.js}"></script>
<script src="../static/js/datalabels.min.js" th:src="@{js/datalabels.min.js}"></script>
</html>